################# Android-specific mutation operators ###########################
## 1. Replace the id argument in an Activitity.findViewById call
#InvalidIDFindView

## 2. Replace a BluetoothAdapter instance with null
#NullBluetoothAdapter

## 3. Replace an Intent instantiation with null
#NullIntent

## 4. Inject a Null GPS location in the location services
#NullLocation

## 5. Replace the action argument in an Intent instantiation
#RandomActionIntentDefinition

## 6. Replace the parameter with the new object in an Intent.putExtras() call
#NewParamIntentPutExtras

## 7. Randomly generate a different key in an Intent.putExtra(key, value) call
#InvalidKeyIntentPutExtra

## 8. Set visible attribute (from a View) to false
#ViewComponentNotVisible

## 9. Assign a variable (returned by Activity.findViewById) to null
#FindViewByIdReturnNull

## 10. Delete action implemented in a GUI listener
BuggyGUIListener

## 11. Insert a long delay (i.e., Thread.sleep(..)) in the GUI creation thread
LengthyGUICreation

## 12. Insert a long delay (i.e., Thread.sleep(..)) in the GUI listener thread
LengthyGUIListener

################# Java-specific mutation operator ###############################
## 1. Set a random Date to a date object
#InvalidDate

## 2. Randomly mutate paths to files
#InvalidFilePath

## 3. If URIs are used internally, randomly mutate the URIs
#InvalidURI

## 4. Shift Operator Replacement (replace the shift operators <<, >>, and >>>)
#SOR

## 5. Relational Operator Replacement (replace the relational operators ,<, <=, >, >=, =, !=)
#ROR

## 6. Arithmetic Operator Deletion(Short-cut) (delete an increment operator (++) or a decrement operator (--))
#AODs

## 7.Arithmetic Operator Deletion (Unary) (delete a unary operator, -/+)
#AODu

## 8.Arithmetic Operator Replacement (Binary) [replace an arithmetic operator, *, /, %, +, -]
#AORb

## 9.Arithmetic Operator Replacement (Short-cut)[replace an increment operator (++) or a decrement operator (--)]
#AORs

## 10. Arithmetic Operator Replacement (Unary) [replace a unary operator, -/+]
#AORu

## 11. Arithmetic operator Insertion (insert -,++,--)  ***
AOI

## 12. Assignment Operator Replacement (short-cut)[replace +=, -+, *=, /=, %=, &=, |=, ^=, <<=, >>=, >>>=]
#ASR

## 13. Logical Operator Replacement (replace &, |, ^)
#LOR
#######################################################################################################################
## 14. Conditional Operator Replacement(replace &&, || ,^)
COR

## 15. Assign an input stream to null before it is closed
NullInputStream

## 16. Assign null to a response variable from a back-end service
NullBackEndServiceReturn

################# New Java-specific mutation operator ###############################
## 1.Array Value Replacement (Array value substitution) *New*
AVR

## 2. Conditional Expression Replacement(The true and false results of the conditional expression become the same) *New*
CER

## 3. For Loop Replacement  *New*
FLR

## 4. String invocation method substitution *New*
SCR

## 5. String Argument Replacement( Replace the string type parameter of a method call with an empty string.) *New*
SAR

## 6. Unary Operator replacement(e.g., Unary operations plus substitutions,  i++ -->  i+=2)  *New*
UOR